.button {
    position: relative;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  @media screen and (min-width: 260px) and (max-width: 1280px) {
    .button{
      font-size: 12px;
      width: 100px;
    }
  }